*.log
*.pyc
*.mo
/distribution/
/files/
/sites/static/
.settings/
.project
.pydevproject
.DS_Store
*.pot
/sites/web/wiki/
/external/
/vagrant/.vagrant/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/