django~=2.2.0
diff-match-patch
Markdown
six
pillow
pydevd~=1.6.0
itsdangerous
webservices[django]
defusedxml
pyclamd
dnspython
vobject
monotonic
SpeechRecognition
django-markdownx
django-haystack
# xapian-haystack
pygments
furl
rpc4django
# radicale==1.1.6
djradicale
pyxmpp2
