django~=2.2.0
diff-match-patch
Markdown
six
pillow
pydevd~=1.6.0
itsdangerous
webservices[django]
defusedxml
pyclamd
dnspython
vobject
monotonic
SpeechRecognition
django-markdownx
# django-haystack==2.5.1
# xapian-haystack
pygments
furl
rpc4django
# radicale==1.1.6
djradicale
pyxmpp2
yolk3k
django-background-tasks
pydub
