{% extends "base.html" %}

{% load bootstrap_toolkit i18n boards %}

{% block title %}{% trans "kanban" %}{% endblock %}

{% block extra_head %}
<script src="{{ STATIC_URL }}board.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}board.css">
<style>
  .new { background-color: #51a351; }
  .done { background-color: #bd362f; }
  .flow {
    border: 1px solid #428bca;
    border-color: #428bca;
    background-color: white;
    color: black;
  }
</style>
{% endblock %}

{% block content %}

    <h2>{% trans "getting things done" %}</h2>

    <p>{% trans "Drag and drop tickets from one state to the next one accoring to the workflow. Use CTRL or ALT for moving only (no reassign)" %}</p>

    <div class="container-fluid">
        <div class="row">
          <div id="alert_placeholder"></div>
        </div>
        <div id="sortableKanbanBoards" class="row">

            {% for column in columns %}<div class="panel panel-primary kanban-col">
                <div class="panel-heading {% if column.type == 0 %}flow{% endif %}{% if column.type == 1 %}new{% endif %}{% if column.type == 2 %}done{% endif %}">
                    {{ column.name }}
                </div>
                <div class="panel-body">
                    <div id="list{{ column.id }}" class="kanban-centered">
                        {% for ticket in column.data %}{% lookup_seen column.seen ticket %}{% if seen != 2 %}<article class="kanban-entry grab" id="item{{ ticket.pk }}" draggable="true">
                            <div class="kanban-entry-inner">
                                <div class="kanban-label"{% if ticket.priority.color %} style="background-color:{{ ticket.priority.color }};"{% endif %}>
                                    <h2><a href="/tickets/view/{{ ticket.pk }}/">#{{ ticket.pk }}</a> {{ ticket.caption }}</h2>
                                    {% if ticket.deadline and not ticket.closed %}<small class="text-muted"{% if ticket.is_late == 2 %} style="color: red;"{% endif %}{% if ticket.is_late == 1 %} style="color: orange;"{% endif %}><i class="icon-time"></i> {{ ticket.deadline }}</small>{% endif %}
                                    {% if ticket.hasAttachments %}<i class="icon-file"></i>{% endif %}{% if ticket.hasComments %}<i class="fa fa-comments" aria-hidden="true"></i>{% endif %}{% if ticket.assigned %}<small class="text-muted"><i class="icon-user"></i> {{ ticket.assigned }}</small>{% endif %}
                                    {% if request.user.is_staff and ticket.customer and ticket.billing_estimated_time and ticket.customer.hourly_rate %}<small class="text-muted"><b>€</b> {{ ticket.customer.hourly_rate|multiply:ticket.billing_estimated_time|floatformat:"0" }}</small>{% endif %}
                                    {% if seen == 1 %}<a href="javascript: seen({{ ticket.pk }});"><i class="icon-eye-open pull-right"></i></a>{% else %}<a href="javascript: ignore({{ ticket.pk }});"><i class="icon-eye-open pull-right"></i></a>{% endif %}
                                </div>
                            </div>
                        </article>
                        {% endif %}{% endfor %}

                    </div>
                </div>
            </div>{% endfor %}

        </div>
    </div>


    <!-- Static Modal -->
    <div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <i class="fa fa-refresh fa-5x fa-spin"></i>
                        <h4>Processing...</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="closeDlg" class="modal hide fade">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% trans "close ticket" %}</h3>
        </div>

        <form class="form-{{ layout }}" action="" method="post">
        <div class="modal-body">
	        {% csrf_token %}
	        {{ close|as_bootstrap:layout }}
        </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">{% trans "cancel" %}</a>
            <a href="javascript: close();" class="btn btn-danger">{% trans "close" %}</a>
        </div>
        </form>
    </div>

    <div id="reassignDlg" class="modal hide fade">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% trans "reassign ticket" %}</h3>
        </div>

        <form class="form-{{ layout }}" action="/tickets/reassign/0/" method="post">
        <div class="modal-body">
            {% csrf_token %}
            {{ reassign|as_bootstrap:layout }}
        </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">{% trans "cancel" %}</a>
            <a href="javascript: reassign();" class="btn btn-warning">{% trans "reassign" %}</a>
        </div>
        </form>
    </div>


    <script>
    var finish_state = {{ finish_state }};
    var ticketid;
    var list_items;
    var all_states;

    var edges = {
      {% for edge in edges %}{% ifchanged edge.now %}{% if not forloop.first %}],
      {% endif %}"{{ edge.now.id }}": [{% else %},{% endifchanged %}{{ edge.next.id }}{% if forloop.last %}]{% endif %}{% endfor %}
    }

    function close() {
      form = $('#closeDlg').find('form');

      if ( ! $('#id_resolution').val() || ! $('#id_close_comment').val() ) {
        alert('{% trans "Please fill out the required fields!" %}');
        return;
      }

      $.post('/tickets/view/' + ticketid + '/', form.serialize(),  function(data) {
          var element = document.getElementById('item' + ticketid);
          list_items.prepend(element);
          $('#closeDlg').modal('toggle');
        }
      );
    }

    function reassign() {
      form = $('#reassignDlg').find('form');

      if ( ! $('#id_assigned').val() || ! $('#id_reassign_comment').val() ) {
        alert('{% trans "Please fill out the required fields!" %}');
        return;
      }

      $.post('/tickets/reassign/' + ticketid + '/', form.serialize(),  function(data) {
          var element = document.getElementById('item' + ticketid);
          list_items.prepend(element);
          $('#reassignDlg').modal('toggle');
        }
      );
    }

    function move(ticketid, state) {
      $.post('/tickets/move/' + ticketid + '/', 'simple=1&state=' + state,  function(data) {
        var element = document.getElementById('item' + ticketid);
        list_items.prepend(element);

        $('#processing-modal').modal('toggle');
        }
      );
    }

    function seen(ticket) {
      if (confirm('{% trans "Do you really want to remove this ticket from this board until the next change of that ticket?" %}') ) {
        $.get("/tickets/notify/" + ticket + "/", function(data, status) {
            $('#item' + ticket).remove();
        });
      }
    }

    function ignore(ticket) {
      if (confirm('{% trans "Do you really want to remove this ticket from this board until the next change of that ticket?" %}') ) {
        $.get("/tickets/ignore/" + ticket + "/", function(data, status) {
            $('#item' + ticket).remove();
        });
      }
    }
    </script>
{% endblock %}

{% block footer %}
<div class="container-fluid">
  <hr />

  <div class="row-fluid">

    <div class="span6">
      {{ SETTINGS.CUSTOMER }}<br />
      {{ SETTINGS.TEL }}<br />
      {{ SETTINGS.MAIL }}<br />
    </div>
      <div class="span6">
          <p class="text-right">
              &copy; 2014 - {% now "Y" %} <a href="http://www.mediafactory.de">media factory</a>
          </p>
      </div>
  </div>
</div>
{% endblock %}
