{% extends "base.html" %}

{% load bootstrap_toolkit i18n strings tz %}

{% block title %}{% trans "fulltext search" %}{% endblock %}

{% block content %}
        <h2>{% trans "search results" %}</h2>
            <p>{{ page.start_index }} - {{ page.end_index }} {% trans "of" %} {{ page.paginator.count }}</p>
            <section id="no-more-tables">
                <table class="table table-striped table-hover">
                  <thead>
                  <tr>
                      <th>{% trans "state" %}</th>
                      <th>{% trans "ticket#" %}</th>
                      <th>{% trans "caption" %}</th>
                  </tr>
                  </thead>
                  {% for result in page.object_list %}
                      <tr>
                        <td width="20">{% if result.get_stored_fields.closed != None %}<button type="button" class="btn {% if result.get_stored_fields.closed %}btn-danger{% else %}btn-success{% endif %}" disabled></button>{% endif %}</td>
                        <td width="60">{% if result.get_stored_fields.closed != None %}#{{ result.pk }}{% endif %}</td>
                        <td>{% if result.get_stored_fields.closed != None %}<a href="/tickets/view/{{ result.pk }}/">{{ result.get_stored_fields.caption }}</a>{% else %}<a href="/docs/view/{{ result.pk }}/">{{ result.get_stored_fields.caption }}</a>{% endif %}</td>
                      </tr>
                  {% endfor %}
              </table>
          </section>

          {{ page|pagination:request.get_full_path }}

          <p><small class="text-muted">{% trans "You searched for:" %} {{ request.GET.q }} {% trans "in" %} <input style="margin: 0px;" type="checkbox" name="models" value="yats.docs" checked="" id="id_models_0"> {% trans "Documents" %} <input style="margin: 0px;" type="checkbox" name="models" value="web.test" checked="" id="id_models_1"> {% trans "Tickets" %}</small></p>
{% endblock %}
