<!DOCTYPE html>
{% load bootstrap_toolkit i18n boards menu %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>YATS: {% block title %}{{ title }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="media factory">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <link href="{{ STATIC_URL }}base.css" type="text/css" rel="stylesheet" media="all">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    {% bootstrap_javascript_tag %}
    {% block extra_head %}
    {% endblock %}
    <script>
        function delMe() {
            // ajax call -> clear session from breadcrumb
            $.ajax({
                url: "{% url 'action' 'remove' '1' %}",
                success: function(result){
                    $(".breadcrumb").remove()
                }
            });
        }
    </script>
    <style>
      div.container.pull-left.yats-navi {width: auto;}
    </style>
</head>

<body>

<div class="navbar navbar-fixed-top">
    {% if request.user.is_authenticated %}
    <div class="navbar-inner">
        <div class="container-fluid yats-navi">
            <a class="brand " id="brand" href="/">&nbsp;&nbsp;&nbsp;YATS:</a>
            <ul class="nav">
                <li><a href="/reports/" class="">{% trans "Reports" %}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Boards" %}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="modal" href="#newBoardDlg">{% trans "add new board" %}</a></li>
                    {% board_list %}
                    {% for board in boards %}
                        <li><a href="/board/{{ board.name|urlencode }}/">{{ board.name }}</a></li>
                    {% endfor %}
                    </ul>
                </li>
                {% if request.session.isUsingYATSE %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Search" %}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/tickets/search/" class="">{% trans "lokal" %}</a></li>
                        <li><a href="{% YATSSerch %}" class="">{% trans "global" %}</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="/tickets/search/" class="">{% trans "Search" %}</a></li>
                {% endif %}
                <li><a href="/tickets/new/" class="">{% trans "New" %}</a></li>
                <li><a href="/workflow/" class="">{% trans "Workflow" %}</a></li>
                <li><a href="/info/" class="">{% trans "Info" %}</a></li>
            </ul>

            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" style="color: #0088cc;" class="dropdown-toggle" data-toggle="dropdown">{{ request.user }}@{{ request.organisation.name }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a data-toggle="modal" href="#pwdDlg">{% trans "change password" %}</a></li>
                  <li class="divider"></li>
                  <li><a href="/local_logout/" class="">{% trans "Logout" %}</a></li>
                </ul>
              </li>
            </ul>
        </div>

    </div>
    {% endif %}
</div>

{% if request.session.breadcrumbs %}
    <ul class="breadcrumb">
        {% for bread in request.session.breadcrumbs %}
        <li>
            {% if bread.1 == '#' %}<a href="/tickets/view/{{ bread.0 }}/">#{{ bread.0 }}</a>{% endif %}
            {% if bread.1 == '@' %}<a href="/reports/?report={{ bread.0 }}">@{{ bread.0 }}</a>{% endif %}
            {% if bread.1 == '$' %}<a href="/board/{{ bread.0|urlencode }}/">${{ bread.0 }}</a>{% endif %}
            {% if not forloop.last %}<span class="divider">|</span>{% endif %}
        </li>
        {% endfor %}

        {% for ancestor in urlpath.cached_ancestors %}
        <li><a href="{% url 'wiki:get' path=ancestor.path %}">{{ ancestor.article.current_revision.title|truncatechars:25 }}</a></li>
        {% endfor %}
        <li class="active">{{ article.current_revision.title|truncatechars:25 }}</li>
        <a class="close" href="#" onclick="delMe()">&times;</a>
    </ul>
{% endif %}

<div class="container">

    {% bootstrap_messages %}

    {% block content %}Empty page{% endblock %}

    <p><hr /></p>

    <footer class="row">
    	<div class="span6">
    		{{ SETTINGS.CUSTOMER }}<br />
    		{{ SETTINGS.TEL }}<br />
    		{{ SETTINGS.MAIL }}<br />
    	</div>
        <div class="span6" style="text-align:right">
            <p>
                &copy; 2014 - {% now "Y" %} <a href="http://www.mediafactory.de">media factory</a>
            </p>
        </div>
    </footer>

</div> <!-- container -->

<div id="pwdDlg" class="modal hide fade">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{% trans "change password" %}</h3>
    </div>

    <form class="form-{{ layout }}" action="/" method="post">
    <div class="modal-body">
      <div>
        <label for="id_password">{% trans "Password" %}:</label> <input type="password" name="password" id="id_password" />
        <label for="id_password">{% trans "Validate password" %}:</label> <input type="password" name="password_check" id="id_password_check" />
      </div>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{% trans "cancel" %}</a>
        <input type="submit" value="{% trans "change" %}" class="btn btn-primary">
    </div>
    </form>
</div>

<div id="newBoardDlg" class="modal hide fade">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{% trans "new board" %}</h3>
    </div>

    <form class="form-{{ layout }}" action="/board/to_add/" method="post">
    <div class="modal-body">
		<div class="control-group">
		    <label class="control-label" for="id_deadline">{% trans "board name" %}</label>
		    <div class="controls">
		        <div class="input-append boardname">
		            <input id="id_boardname" name="boardname" type="text" />
		        </div>
		    </div>
		</div>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{% trans "cancel" %}</a>
        <input type="submit" value="{% trans "save" %}" class="btn btn-primary">
    </div>
    </form>
</div>
</body>
</html>
