{% extends "base.html" %}

{% load bootstrap_toolkit i18n %}

{% block title %}
    {% trans "system info" %}
{% endblock %}

{% block content %}
    <h2>{% trans "system info" %}</h2>
	<p>&nbsp;</p>

    <table class="table table-striped table-hover">
        <tr>
            <td>YATS:</td>
            <td>{{ version }}</td>
        </tr>
        <tr>
            <td>{% trans "Python" %}</td>
            <td>{{ python }}</td>
        </tr>
        <tr>
            <td>{% trans "Django" %}:</td>
            <td>{{ django }}</td>
        </tr>
        <tr>
            <td>{% trans "user-agent" %}:</td>
            <td>{{ request.META.HTTP_USER_AGENT }}</td>
        </tr>
        <tr>
            <td>{% trans "server" %}:</td>
            <td>{{ request.get_host }}</td>
        </tr>
        <tr>
            <td>{% trans "SSL" %}:</td>
            <td>{{ request.is_secure }}</td>
        </tr>
        <tr>
            <td>{% trans "host" %}:</td>
            <td>{{ hostname }}</td>
        </tr>
        <tr>
            <td>{% trans "user" %}:</td>
            <td>{{ request.user.username }}</td>
        </tr>
        <tr>
            <td>{% trans "organisation" %}:</td>
            <td>{{ request.organisation.name }}</td>
        </tr>
    </table>
{% endblock %}
