{% extends "base.html" %}

{% load bootstrap_toolkit i18n %}

{% block title %}{% trans "edit ticket" %} #{{ ticket.id }}{% endblock %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}

    <h2>{% trans "edit ticket" %} #{{ ticket.id }}</h2>
    {% if mode == "simple" %}<p class="-mt-2"><small class="text-gray-500"><a href="/tickets/edit/{{ ticket.id }}/">{% trans "switch to extended form" %}</a></small></p>{% endif %}
    <p><small class="text-gray-500">{% trans "created" %}: {{ ticket.c_date }} by {{ ticket.c_user }}<br /> {% trans "last modified" %}: {{ ticket.u_date }} by {{ ticket.u_user }}</small></p>

    <p>&nbsp;</p>

    <form action="" method="post" class="max-w-3xl">
        {% csrf_token %}
        {{ form|as_bootstrap:layout }}
        <div class="mt-4">
            <input type="submit" value="{% trans "save" %}" class="btn btn-primary">
        </div>
    </form>

{% endblock %}
