{% extends "base.html" %}

{% load bootstrap_toolkit i18n strings tz %}

{% block title %}{% trans "ticket list" %}{% endblock %}

{% block content %}

    <h2>{% if is_search %}{% trans "search results for tickets" %}&nbsp;<a class="btn btn-small" href="/tickets/search/?new=1">{% trans "new search" %}</a>&nbsp;<button type="button" class="btn btn-small" @click="$store.ui.openModal('saveDlg')">{% trans "save search" %}</button>{% if boards|length > 0 %}&nbsp;<button type="button" class="btn btn-small" @click="$store.ui.openModal('saveToBoardDlg')">{% trans "save to board" %}</button>{% endif %}{% else %}{% trans "tickets" %}{% endif %}</h2>
    {% if list_caption %}<p><small class="text-gray-500">{% trans "report" %}: {{ list_caption }}</small></p>{% endif %}
    <p>&nbsp;</p>

    {% if lines %}
    <p>{{ lines.start_index }} - {{ lines.end_index }} {% trans "of" %} {{ lines.paginator.count }}</p>
    <section id="no-more-tables">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>{% trans "priority" %}</th>
                <th></th>
                <th>{% trans "ticket#" %}{% if col == "id" %}&nbsp;<a href="?sort={% if sort == "asc" %}desc{% else %}asc{% endif %}&col=id"><i class="fa fa-sort-numeric-{{ sort }}" aria-hidden="true"></i></a>{% endif %}</th>
                <th>{% trans "created" %}</th>
                <th>{% trans "type" %}</th>
                <th>{% trans "state" %}</th>
                <th>{% trans "assigned" %}</th>
                <th>{% trans "caption" %}</th>
            </tr>
            </thead>
            {% for line in lines %}
              <tr style="{% if line.closed %}text-decoration: line-through;{% endif %}{% if line.priority.color != "transparent" %}color: {{ line.priority.color }}{% endif %}">
              	  <td data-title="{% trans "state" %}">{% if line.priority.color != "transparent" %}<span class="inline-block h-6 w-6 rounded" style="background-color: {{ line.priority.color }};"></span>{% else %}&nbsp;{% endif %}</td>
                  <td>{% if line.deadline %}<i class="fa fa-clock-o"></i>{% endif %}{% if line.hasAttachments %}<i class="fa fa-file-o"></i>{% endif %}{% if line.hasComments %}<i class="fa fa-comments" aria-hidden="true"></i>{% endif %}</td>
                  <td data-title="{% trans "ticket#" %}"><a href="/tickets/view/{{ line.id }}/">#{{ line.id }}</a></td>
                  <td data-title="{% trans "created" %}">{{ line.c_date|localtime|date:"d.m.y H:i" }}</td>
                  <td data-title="{% trans "type" %}">{{ line.type|default:"&nbsp;" }}</td>
                  <td data-title="{% trans "state" %}">{{ line.state }}</td>
                  <td data-title="{% trans "assigned" %}">{{ line.assigned|default:"&nbsp;" }}</td>
                  <td data-title="{% trans "caption" %}">{{ line.caption }}</td>
              </tr>
            {% endfor %}
        </table>

        {{ lines|pagination }}
    </section>
    {% endif %}
    {% if lines.paginator.count == 0 %}
    {% trans "no tickets found!" %}
    {% endif %}
    <p><small class="text-gray-500">{% trans "You searched for:" %} {{ pretty_query }}</small></p>

    {% if is_search %}
    <div x-data x-show="$store.ui.modal === 'saveDlg'" style="display:none">
        <div class="modal-backdrop" @click="$store.ui.closeModal()"></div>
        <div class="modal-panel" @keydown.window.escape="$store.ui.closeModal()">
            <div class="modal-header">
                <h3 class="text-lg font-medium">{% trans "save as report" %}</h3>
                <button type="button" @click="$store.ui.closeModal()" class="text-gray-400 hover:text-gray-600"><i class="fa fa-times"></i></button>
            </div>
            <form action="/tickets/search/" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <label class="form-label" for="id_reportname">{% trans "report name" %}</label>
                    <input class="form-control" id="id_reportname" name="reportname" type="text" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click="$store.ui.closeModal()">{% trans "cancel" %}</button>
                    <input type="submit" value="{% trans "save" %}" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>

    <div x-data x-show="$store.ui.modal === 'saveToBoardDlg'" style="display:none">
        <div class="modal-backdrop" @click="$store.ui.closeModal()"></div>
        <div class="modal-panel" @keydown.window.escape="$store.ui.closeModal()">
            <div class="modal-header">
                <h3 class="text-lg font-medium">{% trans "save to board" %}</h3>
                <button type="button" @click="$store.ui.closeModal()" class="text-gray-400 hover:text-gray-600"><i class="fa fa-times"></i></button>
            </div>
            <form action="/board/change_board/" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {{ board_form|as_bootstrap:"vertical" }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click="$store.ui.closeModal()">{% trans "cancel" %}</button>
                    <input type="submit" value="{% trans "save" %}" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
    {% endif %}

{% endblock %}
