{% extends "base.html" %}

{% load bootstrap_toolkit i18n strings tz %}

{% block title %}{% trans "ticket list" %}{% endblock %}

{% block content %}

    <h2>{% if is_search %}{% trans "search results for tickets" %}&nbsp;<a class="btn btn-small" href="/tickets/search/?new=1">{% trans "new search" %}</a>&nbsp;<a role="button" data-toggle="modal" class="btn btn-small" href="#saveDlg">{% trans "save search" %}</a>{% if boards|length > 0 %}&nbsp;<a role="button" data-toggle="modal" class="btn btn-small" href="#saveToBoardDlg">{% trans "save to board" %}</a>{% endif %}{% else %}{% trans "tickets" %}{% endif %}</h2>
    {% if list_caption %}<p><small class="text-muted">{% trans "report" %}: {{ list_caption }}</small></p>{% endif %}
    <p>&nbsp;</p>

    {% if lines %}
    <p>{{ lines.start_index }} - {{ lines.end_index }} {% trans "of" %} {{ lines.paginator.count }}</p>
    <section id="no-more-tables">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>{% trans "state" %}</th>
                <th></th>
                <th>{% trans "ticket#" %}</th>
                <th>{% trans "created" %}</th>
                <th>{% trans "type" %}</th>
                <th>{% trans "state" %}</th>
                <th>{% trans "assigned" %}</th>
                <th>{% trans "caption" %}</th>
            </tr>
            </thead>
              {% for line in lines %}
                <tr style="{% if line.priority.color != "transparent" %}background-color: {{ line.priority.color }}{% endif %}">
                	<td data-title="{% trans "state" %}"><button type="button" class="btn {% if line.closed %}btn-danger{% else %}btn-success{% endif %}" disabled /></td>
                    <td>{% if line.deadline %}<i class="icon-time"></i>{% endif %}{% if line.hasAttachments %}<i class="icon-file"></i>{% endif %}{% if line.hasComments %}<i class="fa fa-comments" aria-hidden="true"></i>{% endif %}</td>
                    <td data-title="{% trans "ticket#" %}"><a href="/tickets/view/{{ line.id }}/">#{{ line.id }}</a></td>
                    <td data-title="{% trans "created" %}">{{ line.c_date|localtime|date:"d.m.y H:i" }}</td>
                    <td data-title="{% trans "type" %}">{{ line.type|default:"&nbsp;" }}</td>
                    <td data-title="{% trans "state" %}">{{ line.state }}</td>
                    <td data-title="{% trans "assigned" %}">{{ line.assigned|default:"&nbsp;" }}</td>
                    <td data-title="{% trans "caption" %}">{{ line.caption }}</td>
                </tr>
            {% endfor %}
        </table>

        {{ lines|pagination }}
    </section>
    {% endif %}
    {% if lines.paginator.count == 0 %}
    {% trans "no tickets found!" %}
    {% endif %}
    <p><small class="text-muted">{% trans "You searched for:" %} {{ pretty_query }}</small></p>

    {% if is_search %}
    <div id="saveDlg" class="modal hide fade">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% trans "save as report" %}</h3>
        </div>

        <form class="form-{{ layout }}" action="/tickets/search/" method="post">
        <div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="id_deadline">{% trans "report name" %}</label>
					<div class="controls">
						<div class="input-append reportname">
    						<input id="id_reportname" name="reportname" type="text" />
						</div>
					</div>
				</div>
		</div>

        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">{% trans "cancel" %}</a>
            <input type="submit" value="{% trans "save" %}" class="btn btn-primary">
        </div>
        </form>
    </div>

    <div id="saveToBoardDlg" class="modal hide fade">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% trans "save to board" %}</h3>
        </div>

        <form class="form-horizontal" action="/board/change_board/" method="post">
        <div class="modal-body">
            {{ board_form|as_bootstrap:"horizontal" }}
        </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">{% trans "cancel" %}</a>
            <input type="submit" value="{% trans "save" %}" class="btn btn-primary">
        </div>
        </form>
    </div>
    {% endif %}

{% if request.user.username == "henrik.genssen" %}{{ sql }}{% endif %}
{% endblock %}
