{% extends "base.html" %}

{% load bootstrap_toolkit i18n %}

{% block title %}{% trans "new ticket" %}{% endblock %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}

    <h2>{% trans "new ticket" %}</h2>
    {% if mode == "simple" %}<p class="-mt-2"><small class="text-gray-500"><a href="/tickets/new/">{% trans "switch to extended form" %}</a></small></p>{% endif %}

    <p>&nbsp;</p>

    <form action="" method="post" class="max-w-3xl">
        {% csrf_token %}
        {{ form|as_bootstrap:layout }}
        <div class="mt-4">
            <input type="submit" value="{% trans "save" %}" class="btn btn-primary">
        </div>
    </form>

{% endblock %}
