{% extends "base.html" %}

{% load bootstrap_toolkit i18n %}

{% block title %}
    {% trans "search tickets" %}
{% endblock %}

{% block extra_head %}
    <script src="//cdn.jsdelivr.net/npm/jquery-extendext@0.1.2/jQuery.extendext.min.js"></script>
    <link href="{{ STATIC_URL }}querybuilder/css/query-builder.default.css" type="text/css" rel="stylesheet" media="all">
    <script src="{{ STATIC_URL }}querybuilder/js/query-builder.standalone.js"></script>
    <script src="{{ STATIC_URL }}querybuilder/i18n/query-builder.de.js"></script>
    <style>
      select {width: auto;}
    </style>
{% endblock %}

{% block content %}

    <h2>{% trans "search for tickets" %}</h2>
    <p style="margin-top: -15px;"><small class="text-muted"><a href="/tickets/search/">switch to simple search</a></small></p>

    <p>&nbsp;</p>

    <div class="container">

    {{ form|as_querybuilder }}
    <button class="btn btn-primary parse-json" id="btn-get">Get rules</button>
    </div>

    <script>
      $('#btn-get').on('click', function() {
      var result = $('#builder').queryBuilder('getRules');

      if (!$.isEmptyObject(result)) {
        alert(JSON.stringify(result, null, 2));
      }
    });
    </script>
{% endblock %}
