{% extends "base.html" %}

{% load bootstrap_toolkit i18n %}

{% block title %}{% trans "search tickets" %}{% endblock %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}

    <h2>{% trans "search for tickets" %}</h2>
    <p class="-mt-2"><small class="text-gray-500"><a href="/tickets/search/extended/">{% trans "switch to extended search" %}</a></small></p>

    <p>&nbsp;</p>

    <form action="/tickets/search/" method="post" class="max-w-3xl">
        {% csrf_token %}
        {{ form|as_bootstrap:layout }}
        <div class="mt-4">
            <input type="submit" value="{% trans "search" %}" class="btn btn-primary">
        </div>
    </form>

{% endblock %}
